html {
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 23px;
    color: black;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 5vw;
    padding: 5px;
    position: relative;
    border-bottom: 1px solid white;
}

.nav2 li {
    list-style-type: none;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 5vw;
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #72BAE3;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav2 a {
    text-decoration: none;
    color: #72BAE3;
}

.Home {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.Home::before {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("Music.png");
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transform: translateZ(-1px) scale(2);
}

.Home-Content2 {
    text-align: center;
    padding-top: 25vh;
    color: white;
    font-size: 3vw;
    position: relative;
    width: 100vw;
}

.portofolio {
    margin: 20vh 0 0 10vw;
    text-decoration: none;
    color: white;
    background: #72BAE3;
    height: 100vh;
    overflow: hidden
}

.Home-Content h1 {
    border-bottom: 1px solid white;
    max-width: 50vw;
    margin-left: 25vw;
}

.Line-Home {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 33vh;
    border-top: 1px solid #FFFFFF;
}

.GridTest {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "prof" "exp" "hob" "cont";
}

.Profile {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-top: 10vh;
    display: grid;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "h1";
    grid-area: prof;
}

.Profile-Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.Profile>* {
    padding: 0 5vw 0 5vw;
}

.Profile img {
    /* grid-area: imgprof; */
    max-height: 40vh;
    margin-bottom: 20vh;
    margin-top: 5vh;
}

h2 {
    color: #72BAE3;
}

.Prof-1 {
    /* grid-area: prof1; */
}

.Prof-2 {
    /* grid-area: prof2; */
}

.Profile h1 {
    color: #72BAE3;
    grid-area: h1;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    height: 15vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

@media only screen and (max-width: 800px) {
    .Profile>* {
        padding: 5vh 5vw 5vh 5vw;
        text-align: center;
    }
    .Profile-Content {
        display: grid;
        grid-template-columns: repeat(1, minmax(305px, 1fr));
        grid-gap: 100px;
    }
    .Profile img {
        /* grid-area: imgprof; */
        max-height: 30vh;
        margin-top: 10vh;
        margin-left: 30%;
    }
}

.Line {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 25vh;
    border-top: 1px solid #000000;
}

img {
    border-radius: 50%;
}

.Experience {
    width: 100vw;
    min-height: 100vh;
    background-color: #F8EEDB;
    padding-top: 10vh;
    display: grid;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-areas: "h1 h1" "exp2 exp1" "exp2 exp3";
    grid-area: exp; */
}

.Experience-Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 30px;
    padding: 0 10vw 0 10vw;
}

.Experience h1 {
    color: #72BAE3;
    /* grid-area: h1; */
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    height: 15vh;
    margin-left: 25vw;
    margin-right: 25vw;
}


/* .Experience>* {
    padding-left: 10vw;
    padding-right: 10vw;
} */


/* .Exp-1 {
    grid-area: exp1;
}

.Exp-2 {
    grid-area: exp2;
}

.Exp-3 {
    grid-area: exp3;
} */

@media only screen and (max-width: 400px) {
    .Experience h1 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 800px) {
    .Experience>* {
        /* padding: 5vh 5vw 5vh 5vw; */
        text-align: center;
    }
    .Experience-Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 100px;
        padding: 0 10vw 0 10vw;
    }
    .Exp-3 {
        padding-bottom: 50px;
    }
    .Experience-Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
        grid-gap: 30px;
        padding: 0 5vw 0 5vw;
    }
}

.Hobby {
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    display: grid;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);
    grid-area: hob;
}

.Hobby h1 {
    color: #72BAE3;
    /* grid-area: h1; */
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    height: 15vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

.Hobby-Content {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: "hob1 ." "hob1 hob2" "hob3 hob2" "hob3 .";
    padding: 0 10vw 0 10vw;
}

.Hobby>* {
    /* padding-left: 10vw;
    padding-right: 10vw; */
    margin-top: 10vh;
}

.Hobby img {
    border-radius: 50%;
    height: 30vh;
    margin: 0 50% 5vh 25%;
    background: white;
}

.Hob-texts {
    margin-left: 2vw;
}

.Hob-1 {
    grid-area: hob1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    /* grid-auto-rows: minmax(10px, auto);
    background: red; */
}

.Hob-2 {
    grid-area: hob2;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    /* grid-auto-rows: minmax(10px, auto);
    background: blue; */
}

.Hob-3 {
    grid-area: hob3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    /* grid-auto-rows: minmax(10px, auto);
    background: green; */
}

@media only screen and (max-width: 800px) {
    .Hob-2 {
        grid-area: hob2;
        text-align: right;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-template-areas: "hi2" "ht2";
    }
    .Hob-texts1 {
        text-align: left;
        grid-area: ht2;
    }
    .Hob-2 img {
        grid-area: hi2;
    }
    .Hobby img {
        margin: 0 10% 5vh 5%;
    }
}

.Contacts {
    width: 100vw;
    height: 20vh;
    background-color: #c4c4c4;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    text-align: center;
    grid-area: cont;
}

.Contacts>* {
    margin-top: 6vh;
}

.Contacts a {
    text-decoration: none;
    background-color: turquoise;
    height: 0vh;
    color: white;
    transition: 0.5s ease;
    margin-top: 8vh;
}

.Contacts a:hover {
    color: #72BAE3;
}

.Contacts p {
    font-size: 40px;
}

@media only screen and (max-width: 800px) {
    .Contacts {
        margin-top: 6vh;
        font-size: 0.8em;
    }
    .Contacts p {
        font-size: 1.5em;
        margin-top: 7vh;
    }
}

.Projects {
    width: 100vw;
    background-color: #fff;
}

.Project-Content {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.Project-Content>* {
    margin: 10vh 0 0 10vw;
}

.Projects img {
    border-radius: 0;
    height: 40vh;
}

@media only screen and (max-width: 1200px) {
    .Pro-1 img {
        height: 20vh;
    }
    .Project-Content>* {
        margin: 10vh 0 0 0vw;
        text-align: center;
    }
    .Project-Content {
        display: grid;
        text-align: left;
        grid-template-columns: repeat(1, minmax(305px, 1fr));
    }
}

.Projects h1 {
    color: #72BAE3;
    grid-area: h1;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    height: 15vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

form {
    margin-top: 10vw;
}

.table1 {
    width: 50vw;
    text-align: center;
    margin-top: 20vh;
}

.buttons {
    background-color: #fff;
    border: 1px solid rgb(48, 160, 20);
    border-radius: 10%;
    padding: 10px;
    color: rgb(48, 160, 20);
    transition: .5s ease;
}

.buttons:hover {
    background-color: rgb(48, 160, 20);
    color: white;
}

.Form-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    padding: 0 10vw 20vh 5vw
}

.Remove {
    background-color: #fff;
    border: 1px solid #72BAE3;
    border-radius: 10%;
    padding: 10px;
    color: #72BAE3;
    transition: .5s ease;
}

.Remove:hover {
    background-color: #72BAE3;
    color: white;
}