<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
    <title>Connect</title>
</head>

<body>
    <div class="nav2">
        <ul>
            <li><a href="{%url 'Index'%}">Home</a></li>
            <li><a href="{%url 'Portofolio'%}">Portofolio</a></li>
            <li><a href="{%url 'Form'%}">Connect</a></li>
        </ul>
    </div>
    <div class="Form-content">
        <form action="{% url 'Form' %}" id="form" , method="POST">
            {% csrf_token %} {{ form.as_p }}
            <br>
            <button type="submit" class="buttons">Submit</button>
        </form>
        <table class="table1">
            <tr>
                <th>Name</th>
                <th>Hobby</th>
                <th>Favorite</th>
                <th>Year</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.hobby}}</td>
                <td>{{i.favorite}}</td>
                <td>{{i.year}}</td>
                <td><button class="Remove">Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>