<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
    <title>Home</title>
</head>

<body>
    <div class="Home">
        <div class="Home-Content">
            <div class="nav">
                <ul>
                    <li><a href="{%url 'Index'%}">Home</a></li>
                    <li><a href="{%url 'Portofolio'%}">Portofolio</a></li>
                    <li><a href="{%url 'Form'%}">Connect</a></li>
                </ul>
            </div>
            <div class="Home-Content2">
                <h1>Kevin Kurniawan</h1>
                <h4>Profile Page</h4>
            </div>
        </div>
    </div>
    <div class="GridTest">
        <div class="Profile">
            <h1>Profile</h1>
            <div class="Profile-Content">
                <img src="static/img/Kevin2.png">
                <div class="Prof-1">
                    <h2>Bio</h2><br>
                    <p>Name: Kevin Muhammad Afiza Kurniawan <br><br><br><br> Age: 18 years <br><br><br><br> Location: Jakarta, Indonesia</p>
                </div>
                <div class="Prof-2">
                    <h2>About me</h2><br>
                    <p>I am an undergraduate of computer science student in the University of Indonesia. I love music producing and playing the instrument. Computer science doesnt stop me from being a music producer, instead it could help me get bigger.
                        As it turns out, programming is a ton of fun and I am interested, especially in web design.</p>
                </div>
            </div>
        </div>
        <div class="Experience">
            <h1>Experience</h1>
            <div class="Experience-Content">
                <div class="Exp-1 ">
                    <h2>Education</h2><br>
                    <p>Sevilla International School
                        <p style="color: #C4C4C4; ">(2013-2016)</p> SMAN 68 Jakarta
                        <p style="color: #C4C4C4; ">(2016-2019)</p> Faculty of Computer Sceience University of Indonesia
                        <p style="color: #C4C4C4; ">(2019 - Now)</p>
                    </p>
                </div>
                <div class="Exp-2">
                    <h2>Personal Experience</h2><br>
                    <p>Creative Division Comittee Bazkom 2018<br>-Music Producer <br><br>Sponsorship Division Comittee Bazkom 2018<br> <br>Creative Division Comittee Bazkom 2019 <br>-Music Producer</p>
                </div>
                <div class="Exp-3">
                    <h2>Achievements</h2><br>
                    <p>FIRST Robotic Competition 2nd place International<br><br> Conoco Philip Scholarship 2018 & 2019</p>
                </div>
            </div>
        </div>
        <div class="Hobby">
            <h1>Hobby</h1>
            <div class="Hobby-Content">
                <div class="Hob-1 ">
                    <img src="static/img/vfx.png ">
                    <div class="Hob-texts">
                        <h2>VFX Editing</h2><br>
                        <p>Playing with reality is not as much fun as playing in the virtual world. With visual effect, you can create anything.</p>
                    </div>
                </div>
                <div class="Hob-2 ">
                    <div class="Hob-texts1">
                        <h2>Music Producing</h2><br>
                        <p>Music producing has been a hobby of mine since i started highschool. Listening to music was always a hobby of mine since i was little.</p>
                    </div>
                    <img src="static/img/producer.png ">
                </div>
                <div class="Hob-3 ">
                    <img src="static/img/games.png ">
                    <div class="Hob-texts">
                        <h2>Gaming</h2><br>
                        <p>Gaming as an entertainment is so much fun. You can meet people you've never met and all but most importantly, it made me interested in programming in the first place.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Contacts">
            <p style="color: #000;">Contacts</p>
            <a href="https://www.instagram.com/kevin_afwan/ " target="_blank ">instagram</a>
            <a href="https://twitter.com/KevinAfizaK " target="_blank ">twitter</a>
            <a href="https://www.facebook.com/kevin.kurniawan.73345 " target="_blank ">facebook</a>
        </div>
    </div>
</body>

</html>