<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
    <title>Portofolio</title>
</head>

<body>
    <div class="nav2">
        <ul>
            <li><a href="{%url 'Index'%}">Home</a></li>
            <li><a href="{%url 'Portofolio'%}">Portofolio</a></li>
            <li><a href="{%url 'Form'%}">Connect</a></li>
        </ul>
    </div>
    <div class="Projects">
        <h1>Projects</h1>
        <div class="Project-Content">
            <div class="Pro-1">
                <h2>Visual Effects</h2><br>
                <p>Karasel 2018 teaser trailer</p>
                <img src="static/img/bazkom2.png">
            </div>
            <div class="Pro-2">
                <h2>Music Producing</h2><br>
                <img src="static/img/bazkom1.png">
            </div>
        </div>
    </div>
</body>